<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting</title>
</head>
<body onload="goback()">

    <div class="container">
        <h2 style="position:absolute;">Voting Completed</h2>
    </div>
    <script>
        const goback = () => {
            // window.history.back(2);
            window.location.replace('http://localhost:3001/vote');
        };
    </script>
    <!-- <script>
        const logout = () => {
          // Perform any necessary cleanup or additional tasks here
      
          // Log out the user (if applicable)
          // ...
      
          // Redirect the user to the logout page or any desired page
          window.location.href = 'http://localhost:3000';
        };
      </script> -->
</body>
</html>